<launch>
   <!-- Load the urdf into the parameter server. -->
   <!-- <param name="my_robot_description" textfile="$(find scaraarm)/urdf/scaraarm.urdf"/>
     -->
   <node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub" >
      <remap from="robot_description" to="my_robot_description" />
      <remap from="joint_states" to="different_joint_states" />
    </node>

   <node pkg="rosopencv" type="robot_state_publisher" name="robot_state_publisher" output="screen" required="true" />

   <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
   	<remap from="robot_description" to="my_robot_description" />
      <remap from="joint_states" to="different_joint_states" />
    </node>

   <node pkg="rviz" type="rviz" name="rviz" />
  </launch>